.container {
  width: 520px;
  background: white;
  margin: auto;
  /* margin-top: 150px; */
  color: #262626;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 10px;
  padding: 40px 50px;
}
.container hr {
  height: 2px;
  background: #707070;
  border: none;
}
.container h2 {
  font-size: 20px;
  font-weight: 500;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 4px;
  padding-left: 15px;
  border: 1px solid #686868;
  margin-bottom: 10px;
  font-size: 15px;
  cursor: pointer;
}
.container button {
  margin: auto;
  width: 160px;
  height: 50px;
  background: #553f9a;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  color: white;
  box-shadow: none;
}

.index {
  margin: auto;
  font-size: 18px;
}
.container .correct {
  background: #dffff2;
  border-color: #00d397;
}
.container .wrong {
  background: #ffebeb;
  border-color: #ff4a4a;
}
.addBtn {
  position: absolute;
  width: 100px;
  height: 100px;
  background: white;
  color: #553f98;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50px;
  right: 20px;
}
